{% extends 'base.html.twig' %}

{% block title %}Partie index{% endblock %}

{% block body %}
    <h1>Partie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Equipe Rouge</th>
                <th>Score rouge</th>
                <th>Equipe Bleue</th>
                <th>Score bleu</th>
                <th>État</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partie in parties %}
            <tr>
                <td>{{ partie.id }}</td>
                <td>{{ partie.dateDebut ? partie.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ partie.dateFin ? partie.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ partie.idRouge }}</td>
                <td>{{ partie.scoreRouge }}</td>
                <td>{{ partie.idBleu }}</td>
                <td>{{ partie.scoreBleu }}</td>
                {% if partie.partieFinie == true %}
                    <td>Terminé</td>
                {% endif %}
                {% if partie.partieFinie == false %}
                    <td>En cours</td>
                {% endif %}
                <td>
                    <a href="{{ path('app_partie_show', {'id': partie.id}) }}">show</a>
                    <a href="{{ path('app_partie_edit', {'id': partie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_partie_new') }}">Create new</a>
{% endblock %}
