{% extends 'base.html.twig' %}

{% block title %}Partie{% endblock %}

{% block body %}
    <h1>Partie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partie.id }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ partie.dateDebut ? partie.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ partie.dateFin ? partie.dateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Equipe Rouge</th>
                <td>{{ partie.idRouge }}</td>
            </tr>
            <tr>
                <th>Score Rouge</th>
                <td>{{ partie.scoreRouge }}</td>
            </tr>
            <tr>
                <th>Equipe Bleu</th>
                <td>{{ partie.idRouge }}</td>
            </tr>
            <tr>
                <th>Score Bleu</th>
                <td>{{ partie.scoreRouge }}</td>
            </tr>
            <tr>
                <th>Partie finie</th>
                {% if partie.partieFinie == true %}
                    <td>Terminé</td>
                {% endif %}
                {% if partie.partieFinie == false %}
                    <td>En cours</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_partie_index') }}">back to list</a>

    <a href="{{ path('app_partie_edit', {'id': partie.id}) }}">edit</a>

    {{ include('partie/_delete_form.html.twig') }}
{% endblock %}
